<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Transportistas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</head>
<body  class="container">

<--a  class="btn btn-primary mt-4 mb-4" th:href="@{/categorie/nuevo}">crear nuevo</--a>
<table class="table table-sm">
    <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Description</th>
        <th>Picture </th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="categorie, i : ${listaCategoria}">
        <td th:text="${categorie.categoryid}"></td>
        <td th:text="${categorie.categoryname}">pepsi</td>
        <td th:text="${categorie.description}">2312</td>
        <td th:text="${categorie.picture}">2312</td>
        <td> <a class="btn btn-primary" th:href="@{'/shipper/editar?id=' + ${categorie.categoryid} }">editar</a> </td>
        <td> <a  class="btn btn-danger" th:href="@{'/shipper/borrar?id=' + ${categorie.categoryid} }">borrar</a> </td>
    </tr>
</table>

</body>
</html>