<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Transportistas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</head>
<body  class="container">

    <a  class="btn btn-primary mt-4 mb-4" th:href="@{/shipper/nuevo}">crear nuevo</a>

    <a  class="btn  mt-4 mb-4" th:href="@{/categorie/listaCategory}">lista de categorias</a>
    <table class="table table-sm">

        <tr>
            <th>#</th>
            <th>Nombre de la compañia</th>
            <th>Teléfono</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="shipper, i : ${lista}">
            <td th:text="${i.index +1}"></td>
            <td th:text="${shipper.companyname}">pepsi</td>
            <td th:text="${shipper.phone}">2312</td>
            <td> <a class="btn btn-primary" th:href="@{'/shipper/editar?id=' + ${shipper.shipperid} }">editar</a> </td>
            <td> <a  class="btn btn-danger" th:href="@{'/shipper/borrar?id=' + ${shipper.shipperid} }">borrar</a> </td>
        </tr>
    </table>

</body>
</html>